{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6,
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-syntax-import-assertions"
      ]
    }
  },
  "rules": {
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-underscore-dangle": ["warn"],
    "function-paren-newline": ["warn"],
    "function-call-argument-newline": ["warn"],
    "import/extensions": ["warn"],
    "import/order": ["warn"],
    "max-len": ["warn", { "code": 120 }]
  },
  "settings": {
    "lodash": 3
  }
}
