# General
.DS_Store
# Node
node_modules
example-data
test/output
.eslintcache
yarn.lock

# yarn (ref https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/
*.envrc
*.env
